.article__title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #2D2D2D;
}

.article__text {
  margin-bottom: 100px;
}

.article__parag {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #2D2D2D;
}

.article__parag:not(:last-child) {
  margin-bottom: 21px;
}

.article__sign {
  display: flex;
  justify-content: space-between;
}

.article__back {
  padding-left: 34px;
  align-self: flex-end;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #2D2D2D;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url('../../image/blog/article_back.svg');
  cursor: pointer;
}

.article__author {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 20px;
  text-align: end;
}

.article_reviews {
  margin-top: 15px;
}

@media (max-width: 540px) {
  .article__title {
    font-size: 30px;
  }

  .article__parag {
    font-size: 16px;
  }

  .article__author {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
  }

  .article__sign {
    flex-direction: column;
    gap: 20px;
  }

  .article__back {
    order: 1;
  }

  .article__info {
    align-self: end;
  }
}
